/* General container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 96px;
  background-color: #f5f5f5;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  gap: 4px;
}


/* .sidebarButton {
  padding: 10px;
  border: 1px solid #0e4296;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  color: #0e4296;
} */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 96px;
  background-color: #063970;
  color: #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.titleflex {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.subtitle {
  margin-top: -8px;
  font-size: 16px;
  font-weight: 400;
}

.logo {
  width: 48px;
  height: 48px;
}

.loginIcon {
  width: 24px;
  height: 24px;
}

.loginButton {
  display: flex;
  align-items: center;
  color: white;
  background-color: #063970;
  border: none;
  gap: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Adjust container layout for responsiveness */
.firstContainer {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  gap: 36px; /* Reduced gap for smaller screens */
  justify-content: space-between; /* Space out items */
}

/* Upcoming Events Card */
.upcomingEventsCard {
  position: relative;
  height: auto;
  max-height: 500px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Allow it to take remaining space */
  max-width: 100%; /* Full width on small screens */
  min-width: 300px; /* Ensure it doesn’t shrink too much */
}

/* Image in Upcoming Events: Ensure it fills the container */
.upcomingEventImage {
  width: 100%; /* Full width of container */
  height: 100%; /* Full height of container */
  object-fit: cover; /* Ensure the image fills the container and maintains aspect ratio */
  object-position: center; /* Center the image in the container */
  display: block; /* Avoid inline gaps */
  border-radius: 16px; /* Maintain rounded corners */
}

/* Gradient Overlay */
.gradientOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 36px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.upcomingEventsText {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 4px;
}

.eventDetails {
  font-size: 16px;
}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #0e4296;
  padding: 0 10px;
}

.slideshowImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

/* Calendar container styles */
.calendar {
  border: none;
  margin-bottom: 16px;
}

.calendarContainer {
  flex: 0 0 auto; /* Fixed width of 300px */
  max-width: 500px;
  min-width: 300px;
  padding: 48px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendarTitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: left;
}

.bold {
  font-weight: bold;
}

/* Divider styles */
.divider {
  margin: 20px 0;
  border: none;
  border-top: 2px solid black;
}

/* Merged section styles */
.mergedSection {
  background-color: white;
  margin-top: 48px;
  display: flex;
  text-align: center;
  border-radius: 16px;
  padding: 64px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.vgmoHeader {
  color: #154c79;
  margin-bottom: 8px;
}

.vgmo:not(:last-child) {
  margin-bottom: 32px;
}



.sectionWithLine {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

/* Officer item styles */
.officerItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.officerImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Info frame styles */
.infoFrame {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

/* Header and footer styles */
.header {
  color: #154c79;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #063970;
  color: #fff;
  border-top: 1px solid #ccc;
  font-size: 12px;
}

/* Media query for small screens */
@media (max-width: 1400px) {
  .calendarContainer {
    flex: 0 0 auto; /* Fixed width of 300px */
    max-width: 300px;
    min-width: 300px;
    padding: 24px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1250px) {
  .firstContainer {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  .upcomingEventsCard {
    max-width: 100%; /* Full width on smaller screens */
    margin: 0; /* Remove side margin */
  }

  .calendarContainer {
    flex: 0 0 auto; /* Fixed width of 300px */
    max-width: none;
    min-width: auto;
    gap: 24px;
    width: 100%;
    padding: 48px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    box-sizing: border-box;
  }
  .eventsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 930px) {
    .firstContainer {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items */
    }
  
    .upcomingEventsCard {
      max-width: 100%; /* Full width on smaller screens */
      margin: 0; /* Remove side margin */
    }

    .calendar {
        width: 100%;
        height: auto;
    }
  
    .calendarContainer {
      flex: 0 0 auto; /* Fixed width of 300px */
      max-width: none;
      min-width: auto;
      gap: 24px;
      width: 100%;
      padding: 48px;
      border-radius: 16px;
      background-color: white;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      display: block;
      box-sizing: border-box;
    }
    .eventsList {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

.verticalSections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.newsItem {
 
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}


.header {
  margin-bottom: 16px;
}


.sidebar {
  width: 300px; 
}

.layoutContainer {
  margin-top: 48px;
  display: flex;
  gap: 36px;
  width: 100%;
}

.sidebarContainer {
  display: flex;
}

.sidebarContent {
  padding: 24px;
}

/* .sidebarButton {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 16px;
} */

.leftSection {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar button {
  padding: 16px 8px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  background-color: #0e4296;
  color: white;
  transition: 0.15s;
  border-radius: 8px;
}

.sidebar button:hover {
  background-color: #0e4296bc;
  
}

.sSection{
  
  text-align: center;
  font-size: 100px;
}
.members{
  padding: 12pxz;
  font-size: 12px;
  background-color: #dcdbdb;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: white;
  transition: 0.15s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: white;
}